:root {
  --main-container-width: 290px;
  --main-bg-color: #0a0a0a;
  --main-button-color: #545151;
  --green-button-color: #008000b0;
  --red-button-color: #ea000082;
}

html, body {
  background-color: var(--main-bg-color);
}

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 70px;
  letter-spacing: 2px;
}

.time {
  color: #fff;
  text-align: center;
  padding: 70px 0 50px;
}

.button {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: var(--main-container-width);
  padding: 0 0 25px;
  margin-left: auto;
  margin-right: auto
}

.button_item {
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  background-color: var(--main-button-color);
  border: 3px solid var(--main-bg-color);
  box-shadow: 0 0 0 3px var(--main-button-color);
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.button__item.disabled {
  background-color: #2d1414;
  border: 3px solid var(--main-bg-color);
  box-shadow: 0 0 0 3px #2d1414;
  color: #b1b1b1;;
}

.fastest {
  color: #35ca35;
}

.slowest {
  color: #ff2f2f;
}

.white {
  color: white;
}

.button__green {
  background-color: var(--green-button-color);
  border: 3px solid var(--main-bg-color);
  box-shadow: 0 0 0 3px var(--green-button-color);
  color: #24ff24;
}

.button__red {
  background-color: var(--red-button-color);
  border: 3px solid var(--main-bg-color);
  box-shadow: 0 0 0 3px var(--red-button-color);
  color: #ff7800;
}

.timer__table {
  width: var(--main-container-width);
  border-spacing: 0 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.timer__table td {
  font-family: 'Helvetica-Light', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 200px;
  padding: 10px 0;
  border-bottom: 1px solid #3e3e3e;
}

.timer__table td:nth-child(even) {
  text-align: right;
}